a , a:focus, a:hover {
	text-decoration: none;
	color: #000;
}


.alert.goal-card {
	padding: 10px;
    margin-bottom: 10px;
}
.body-wrapper {
	position: relative;
	top: 50px;
	padding-top: 0;
}



.message-notify {
	text-align: center;
	padding: 160px 0px 0px;
	font-size: 40px;
}
.message-notify p {
	padding: 10px;
}
.message-notify-submessage {
	font-size: 20px;
}
