a , a:focus, a:hover {
	text-decoration: none;
	color: #000;
}
#header {
	width: 100%;
	height: 60px;
	line-height: 60px;
	text-align: center;
	background: #1A202D;
	color: white;
	position: fixed;
	top:0;
	z-index: 3;
}
#header a {
	color: white;
	height: 100%;
}
#header a img{
	height: 30px;
	vertical-align: middle;
}

.alert.goal-card {
	padding: 10px;
    margin-bottom: 10px;
}
.body-wrapper {
	position: relative;
	top: 60px;
}



.message-notify {
	text-align: center;
	padding: 160px 0px 0px;
	font-size: 40px;
}
.message-notify p {
	padding: 10px;
}
.message-notify-submessage {
	font-size: 20px;
}