.course-card {
	position: relative;
}
.course-card a {
	background: #0064A7;
	color: white;
	display: block;
	border-radius: 3px;
	padding: 10px;
	height: 80px;
}
.course-card a:hover {
	background: #005994;
	color: white;
	text-decoration: none;
}
.course-card p {
	margin-bottom: 5px;
}
.course-card .course-title-name {
	font-weight: bold;
}
.course-card .course-professor-name {
	font-size: 13px;
	color: #ddd;
}