.view-course {
	background: #f1f1f1;	
}
.course-list-wrapper {
/* 	margin-top: 50px; */
}

.course-header {
	padding: 10px;
	height: 50px;
}
.course-header span, .course-header span a {
	vertical-align: middle;
	margin-right: 10px;
	margin-left: 5px;
	color: #333;
}
.course-header-name {
	color:#333;
	font-weight: 900;
	font-size: 18px;
	vertical-align: middle;
}
.course-header-professor {
	font-size: 14px;
}
.course-header-info {
	display: inline-block;
	text-align: center;
	color: #333;
	width: 24px;
	height: 24px;
	line-height: 20px;
	font-weight: bold;
	border-radius: 50%;
	border: 2px solid #333;	
}
.course-header .label {
	font-size: 13px;
	margin: 0px 10px;
}
.course-header-apply {
	display: inline-block;
	background: #F77600;
	color: #333;
}
.course-header-apply:hover,.course-header-apply:focus {
	color: #333;
	background: #E34300;
}
.course-header .course-header-status {
	
}
.course-header-btn-show-menu {
	float: right;
	height: 100%;
	line-height: 30px;
	padding: 0px 5px;
	border-radius: 2px;
}
.course-header-btn-show-menu:hover {
	background: rgba(0, 0, 0, 0.2);
}
.course-header-btn-show-menu span {
	margin: 0px 3px;
}
.course-header-btn-text {
	font-size: 12px;
	font-weight: 600;
	text-decoration: underline;
}
.course-lectrues {
    white-space: nowrap;
    margin-bottom: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    position: absolute;	
	top: 100px;
	left:0;
	right: 0;
    bottom:0;
}
/*LECTURE CARD*/
.lecture-card {
	position: relative;
	display: inline-block;
	padding: 0px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 5px;
	vertical-align: top;
	width: 320px;
}
/*DRAG*/
.lecture-card.dragmove .lecture-card-content {
	transform: rotate(10deg);
}
.lecture-card.placeholder {
    background-color: rgba(0,0,0,.2);
    border-color: transparent;
    box-shadow: none;
    border-radius: 3px;
}
.lecture-card.placeholder .lecture-card-content {
	position: fixed;
	visibility: hidden;
}
.lecture-card.lecture-card-disabled .lecture-card-content {
	border: none;
}
.lecture-card .lecture-card-lock, .lecture-card-sessions .session-card-lock {
	display: none; 
}
.lecture-card.lecture-card-disabled .lecture-card-lock {
	display: block;
}
.session-card-disabled .session-card-lock {
	display: block;
}
.lecture-card.lecture-card-disabled .session-card-disabled .session-card-lock {
	display: none;
}
div.lecture-card-lock, div.session-card-lock {
	position: absolute;	
	background: rgba(0, 0, 0, 0.3);
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
}
div.lecture-card-lock:before, div.session-card-lock:before {
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 15px;
	width: 15px;
	font-size: 15px;
	position: absolute;
	margin: auto;
	color: #777;
}

.lecture-card .lecture-card-menu-btn {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 20px;
	height: 20px;
	line-height: 20px;
	color: #777;
	text-align: center;
	border-radius: 2px;
	font-size: 10px;
}
.lecture-card .lecture-card-menu-btn:hover {
	background: rgba(0, 0, 0, 0.1);
}
.lecture-card .lecture-card-content {
	position: relative;
	padding: 10px;
	background: #fff;
	border-radius: 3px;
	border:1px solid #E8E8E8;
	width: inherit;
}
.lecture-card .add-lecture-card-content {
	padding: 10px;
	border-radius: 3px;
	width: 300px;	
}
.lecture-card .add-lecture-card-content:hover {
	background: #ddd;
}
.lecture-card .add-lecture-card-content.mod-edit:hover {
	background: #fff;
}
.lecture-card h2 {
	margin:0;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 10px;
}
.lecture-card .lecture-card-content a {
	color: black;
}
/*SESSION*/
.lecture-card-sessions li {
	position: relative;
	background: #F7F7F7;
	border-radius: 3px;
	padding: 5px 10px;
	margin-bottom:  5px;
}
.lecture-card-sessions li:hover {
	background: #e5e5e5;	
}
.lecture-card-sessions li a {
	display: block;
	width: 100%;
	height: 100%;
}
.lecture-add-controls input {
	margin-bottom: 10px;
}





/*SESSION  _ ADD*/
.session-card-badge {
	margin: 6px 3px;
	font-size: 13px;
	color: #777;
}
.session-card-badge * {
	vertical-align: middle;
}
.session-card-badge i {
	margin-right: 6px;
}
.lecture-card-add-session {
	color: #333;
	margin: 1px 0px 0px;
	padding: 5px 10px;
	border-radius: 3px;
}
.lecture-card-add-session:hover ,  .lecture-card-add-session-show{
	background: #F7F7F7;
	color: #333;
}


.session-add-controls {
	display: none;
}
.lecture-card-add-session-show .add-session-placeholder {
	display: none;
}
.lecture-card-add-session-show .session-add-controls {
	display: block;
}
.form-controls .btn {
	margin:5px 5px 0px 0px;
}
.form-controls.session-add-controls-show {
	display: block;
}
.form-controls .form-control {
	margin-bottom: 5px;
}
.form-controls .btn-success {
	background-image: none;
	border: none;	
	text-shadow: none;
	font-weight: bold;
}
.form-controls .btn-close {
	background: transparent;
	border: none;
	box-shadow: none;	
	font-weight: bold;
	color:#777;
}
.form-controls .btn-close:hover {
	color: #333;
	background: transparent;
}
.form-controls .btn-success {
	margin-right: 10px;
}


.course-participants {
	position: fixed;
	top: 50px;
	right: 0;
	bottom:0;
	background-color: #fff;ㄴ
    -webkit-transition-property: -webkit-transform,width;
    transition-property: transform,width;
    -webkit-transition-duration: .1s;
    transition-duration: .1s;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    -webkit-transform: translateX(300px);
    transform: translateX(300px);
    width: 300px;
    z-index: 5;
    padding: 15px;
}

.course-participants.show-menu {
	box-shadow: 0 0 6px rgba(0,0,0,.4);
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
.course-participants h3 {
	position: relative;
	text-align: left;
	border-bottom: 1px solid #ccc;
	margin: 0;
	padding-bottom: 10px;
	font-size: 20px;
	font-weight: 900;
	
}
.course-participants-close {
	position: absolute;
	font-weight: 600;
	font-size: 18px;
	right: 0;
	top: 10px;
	right: 10px;
}
.course-participants-close, .course-participants-close:active, .course-participants-close:focus {
	color: #aaa;
}
.course-participants-close:hover {
	color: black;
}
.course-participants ul {
}
.course-participants li {
	margin: 10px 0px;
}
.course-participant-thumb {
	width: 40px;
	border-radius: 50%;
	overflow: hidden;
	border: 3px solid #333;
}
.course-participant-thumb, .course-participant-name,.course-participant-message {
	height: 40px;
	line-height: 40px;
	vertical-align: middle;
	display: inline-block;
}
.course-participant-name {
	margin: 0px 10px;
	font-weight: bold;
}
.course-participant-message .btn {
	margin: 0px 5px;
	padding: 3px 10px;
}

.lecture-card-menu {
	display: none;	
}
.lecture-card-menu.lecture-card-menu-show {
	display: block;
	position: fixed;
	z-index: 5;
}
.lecture-card-menu {
	margin-left: -5px;
	margin-top: -5px;
	width: 310px;
}
.lecture-card-menu .options{
	position: absolute;
	left: 100%;
}
.lecture-card-menu .options li {
	background: rgba(0, 0, 0, 0.8);
	color: #eee;
	padding: 5px 10px;
	margin: 0px 10px 5px;
	border-radius: 3px;
	font-size: 13px;
	font-weight: bold;
}
.lecture-card-menu .options li:hover {
	color: #fff;
	background: rgba(0, 0, 0, 1);
	transform: translate(5px)
}
.lecture-card-menu .form-controls input.form-control {
	padding: 3px 5px;
    font-size: 16px;
    font-weight: bold;
    width: 305px;
    height: auto;
    border: none;
    border-radius: 3px;
    box-shadow: none;
}
.lecture-overlay {
	position: fixed;
	top:0;
	right:0;
	left: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.1);
	display: none;
	z-index: 2;
}