
body.pdf-open {
	/*background: #404042;*/
}

body.pdf-open #header {
/* 	background: #313639; */
}

#header .aside-left-lesson-back {
    position: absolute;
    left: 10px;
    top: 0px;
    color: #fff;
    height: 100%;
    line-height: normal;
}
#header .aside-left-lesson-back a {
	line-height: 50px;
	height: 40px;
	font-size: 18px;
}
#header .aside-left-lesson-back a i {
	font-size: 26px;
	margin-right: 10px;
	padding-bottom: 3px;
	vertical-align: middle;
}
.session-wrapper {
	margin-right: 300px;
}

/*SLIDE-PAGE*/
.slide-page {
	margin: 0px auto;
	padding: 10px 0px;
	padding-bottom: 30px;
}
.slide-page .slide-control {
	position: absolute;
	top:100%;
	width: 100%;
	background: #333;
	text-align: center;
	left: 0;
	height: 30px;
}
.slide-page .slide-control .slide-control-number {
	color: white;
}
.slide-page .slide-control button {
	color:white;
	background: none;
	height: 30px;
	width: 30px;
	margin: 0px 10px;

}
.pdf-page {
	position: relative;
	margin: 10px auto;
/* 	border: 1px solid black; */
}
.pdf-page canvas {

}
.pdf-page.hide-page *{
	display: none;
}
.text-layer {
	position: absolute;
	top:0;
	left: 0;
}
.text-layer>div {

    color: transparent;
    position: absolute;
    white-space: pre;
    cursor: text;
    -webkit-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
}

/*HTML-PAGE*/
.html-page {
	margin: 30px auto;
/* 	width: 400px; */
}
.html-page-inner {
	transform-origin: 0px 0px;
}
/*VIDEO-Page*/
.session-video {
	margin: 30px auto;
	display: block;
}


.page-wrapper {

}
.lesson-page-viewer, .lesson-page-edit-area {
	box-sizing: border-box;
	padding: 50px;
	width: 90%;
	max-width: 1000px;
	margin: 0px auto;
}
.page-wrapper .editor-toolbar {
	background: #fff;
	opacity: 1;
}
.page-wrapper .CodeMirror-wrap {
}
.page-wrapper .editor-preview-side {
}
.lesson-page-edit-name {
	color: #535760;
	background: transparent;
	padding: 20px;
	border:0;
	border-bottom: 2px solid #f55;
	text-align: center;
	width: 100%;
	font-size: 40px;
	margin-bottom: 50px;
}
.lesson-page-viewer-name {
	color: #535760;
	padding: 20px;
	border:0;
	border-bottom: 1px solid #bdbdbd;
	width: 100%;
	font-size: 40px;
	margin-bottom: 50px;
	text-align: center;
}


.lesson-page-edit-area .CodeMirror-measure {
}

.lesson-page-edit-area .lesson-page-edit-save {

	border: 1px solid #DCDEE0;
	color: #A7AAA9;
	border-radius: 5px;
	background-color: white;
	width: 60px;
	height: 26px;
	float: right;
	margin-top: 10px;
	margin-left: 10px;
}

.lesson-page-edit-area .lesson-page-edit-cancel {

	border: 1px solid #DCDEE0;
	color: #A7AAA9;
	border-radius: 5px;
	background-color: white;
	width: 60px;
	height: 26px;
	margin-top: 10px;
	float: right;
}



.tab-wrapper {
	right: 0;
	position: fixed;
	top: 60px;
	bottom: 0;
	width: 300px;
	/*box-shadow: inset 0 0 10px #cfcfce;*/
	/*top: 0px;*/
	/*background: #383838;*/
	/*border-left: 1px solid #2f2f2f;*/

}


/*.body-wrapper .lesson-body{
	margin-top: -5px;
}*/
/*.btn-wrapper {
	position: fixed;
	top: 100px;
	z-index: 10;
}
.btn-wrapper .btn {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	line-height: 50px;
	padding: 0px;
}*/

/*<div className="btn-wrapper">
	<a className="btn btn-default zoom-in-btn" role="button" onClick={this.addZoom}>+</a>
	<a className="btn btn-default zoom-out-btn" role="button" onClick={this.minusZoom}>-</a>
	<a className="btn btn-default lesson-edit-btn" role="button" onClick={this.clickEdit}>수정</a>
</div>*/

.btn-wrapper{

	position: fixed;
	top: 80px;
	z-index: 10;
	margin-left: 20px;
	/*border: 1px solid white;*/

}

.btn-wrapper .btn{
	display: block;
	border-radius: 30px;
	background-color: rgba(255,255,255,0);
	color: white;
	background-image: none;
	margin-top: 5px;
	text-shadow: none;
	color: gray;
	width: 40px;
	height: 40px;
	line-height: 26px;
}


.tabs {
	position: absolute;
	left: -50px;
	width: 50px;
	height: 105%;
	margin-top: -10px;
	/*top: -10px;*/
	/*background: #222;*/
	/*box-shadow: inset 0px 0px 10px #cfcfce;*/
	box-shadow: inset 7px 0 13px -7px #cfcfce;
	z-index: 30;
}
/*.tabs li:before {
	content: "";
	background-image: url("/images/tab.png");
	background-size: 80% auto;
	width: 30px;
	height: 30px;
	background-position: center 3px;
	background-repeat:no-repeat;
	display: block;
}
.tabs li {
	width: 40px;
	height: 30px;
	box-sizing: border-box;
	margin:10px 0px 10px 10px;


}*/
.tabs li {
	width: 50px;
	height: 50px;
	box-sizing: border-box;
	/*border: 1px solid black;*/
	display: block;
	background-image: url("../../../public/images/tabIcons.png");
	background-repeat: no-repeat;
}
.tabs li[data-tab="1"]{
	background-position: 8px 12px;
}
.tabs li[data-tab="2"]{
	background-position: 8px -27px;
}
.tabs li[data-tab="3"]{
	background-position: 8px -64px;
}
.tabs li[data-tab="4"]{
	background-position: 9px -103px;
}

.tabs li:hover, .tabs li.selected {
	background-color: #DCDEE0;
}



/*DISCUSSION_WRAPPER */
.discussions-wrapper {
    width: 100%;
    top: 0;
    left: 0;
    right:0px;
    bottom: 0;
    padding: 0px 5px 0px;
		/*margin-top: -10px;*/
    position: absolute;
		/*box-shadow: inset 0px 0px 1px #cfcfce;*/
		box-shadow: inset 127px 0 13px -127px #cfcfce;
		z-index: 20;


}

.discussions-tab {
	height: 100%;
}
.discussions {
	position: absolute;
	top: 0;
	bottom: 160px;
	overflow: auto;
	width: 100%;
	left: 0;
	padding: 0px 0px 5px;
	margin-top: -10px;
}
.discussion {
	margin: 5px;
	padding: 5px;
	background: #333;
	min-height: 50px;
	border-bottom: 1px solid #DCDEE0;
	/*z-index: -30;*/
}


.discussion.discussion-selected {
	background: #F2F3F3;
}
.discussions-tab .hljs {
	margin: 0;
}

/*DISCUSSION - MAIN*/
.discussion {
	background: white;
	/*border:1px solid black;*/
}
.discussion-author-thumb {
	width: 50px;
	height: 50px;
	border-radius: 30px;
	display: inline-block;
}
.dicussion-text {
	display: inline-block;
	height: 30px;
	vertical-align: middle;
	box-sizing: border-box;
	padding: 5px 5px 5px 0px;
	margin-left: 5px;
	/*border:1px solid red;*/

		/*border-radius: 10px;*/
}
.dicussion-text p {
	margin: 0;
	line-height: 20px;
	display: inline-block;
	margin-left: 7px;
	/*border: 1px solid black;*/
}
.dicussion-author-name {
	color: #333;
	font-size: 15px;
	font-weight: 400;
	/*margin-right: 5px;*/
}
.dicussion-time {
	font-size: 12px;
	color:#959595;
	/*margin-left: 10px;*/
}

.discussions .discussion .discussion-content{
	display: inline-block;
	/*border:1px solid black;*/
	margin-left: 63px;
	top: -13px;
	position: relative;
}

.discussion-content.hljs {
	background: inherit;
	padding: 0;
	margin-top: 10px;
}
.hljs-wrapper {
	position: relative;
}
.hljs-tip {
	position:absolute;
	right:0;
	top:0;
	opacity: 0.5;
	color:#42a538;
	font-weight: bold;
}

/*DISCUSSION-REPLY*/
.discussion-reply-tab-open .discussions-wrapper {
	width: 50%;

}
.discussion-reply-tab-open .discussion-reply-tab {
	display: block;
}
.discussion-reply-tab {
	/*border-left: 1px solid #333;*/
	box-shadow: inset 7px 0 17px -7px #cfcfce;
	width: 50%;
	position: absolute;
	top:0;
	right: 0;
	bottom: 0;
	display: none;
}
.discussion-reply-tab-close {
	position: absolute;
	top:50%;
	left: -20px;
	margin-top : -20px;
}
.discussion-reply-tab-close a{
	font-size: 20px;
	color: #666;
	background: rgba(255, 255, 255, 0.8);
	border-radius: 50%;
	padding: 10px;
	width: 40px;
	height: 40px;
	line-height: 20px;
	text-align: center;

}
.discussion-reply-tab-close a:hover {
	color: #000;
	background: rgba(255, 255, 255, 1);
}


.discussion-form .CodeMirror {

	border-radius: 3px;
}


/*CUSTOM MARK*/
.mark-goto {
	font-weight: bold;
	color: #f55;
}
