
.content {
	max-width: 1200px;
	margin: 0px auto;
	padding: 10px;
	box-sizing: border-box;
}
section.content .page-header {
	padding: 30px 0px 12px;
	margin-bottom: 20px;
  border-bottom: 2px solid #A7CEE7;
  clear: both;
  overflow: hidden;
}

section.content .page-header h3{
	font-size: 35px;
	font-weight: 300;
	color: #333;
	float:left;
	letter-spacing: 4px;
}
section.content .page-header .course-card-add {
	float: right;
	margin-top: 4px;
}
section.content .page-header .course-card-add a {
	color: #fff;
	font-size: 1.2em;
	padding:8px 15px;
	background: #2185D0;
	border-radius: 5px;
	font-weight: bold;
}
section.content .page-header .course-card-add:hover a{
	background: #1678c2;
/* 	color: #1678c2; */
}
/*.content-btns {
	clear: both;
	text-align: center;
	padding: 10px 0px;
}
.content-btns .btn-apply, .content-btns .btn-more {
	box-shadow: none;
	background: RGBA(28, 193, 84, 1);
	color: #fff;
	text-shadow: none;
	font-weight: bold;
	border: none;
}
.content-btns .btn-apply:hover, .content-btns .btn-more:hover{
	background: #419641;
	color:#fff;
}*/
