body.pdf-open {
	 background: #3F3F3F;
}

.issue-wrapper {


}


.pdf-page {
	position: relative;
	margin: 10px auto;
	border: 1px solid black;
}
.text-layer {
	position: absolute;
	top:0;
	left: 0;
}
.text-layer>div {

    color: transparent;
    position: absolute;
    white-space: pre;
    cursor: text;
    -webkit-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
}
.tab-wrapper {
	right: 0;
	position: fixed;
	top: 0px;
	width: 300px;
	height: 100%;
}
.comments-wrapper {

	padding-top: 50px;
	height: 100%;
	background: #383838;
	border-left: 1px solid #2f2f2f;

}
.comments-tab {
    overflow: auto;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    padding: 50px 10px 240px;
    position: absolute;
}
.comment {
	margin: 5px 0px;
	padding: 5px;
	background: #333;
	min-height: 50px;
}
.comment {
		color: white;
}
.comment-form {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	box-sizing: border-box;
	background: inherit;
	padding: 0px 10px 10px;
}
.comment-input {
/* 	margin-bottom: 10px; */
}

.comment-submit {
	margin-top: 10px;
}
.pdf-btn-wrapper {
	position: fixed;
}
.btn.pdf-btn {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	line-height: 50px;
	padding: 0px;
}
.comments-wrapper .editor-toolbar {
/* 	opacity: 1; */
	background: #fff;
	
}
.comments-wrapper .editor-toolbar a {
	width: 20px;
	height: 20px;
	margin-right: 5px;
}
.comments-wrapper .editor-toolbar a:before {
	line-height: 20px;
}
.comments-wrapper .CodeMirror{
    height: 100px;
    min-height: 100px;
}
.comments-wrapper .CodeMirror-scroll {
	min-height: 100px;
}

.tab-mover {
	width: 5px;
	cursor:move;
	height: 100%;
	position:absolute;
	background: rgba(0, 0, 0, 0);
}
.tabs {
	position: absolute;
	left: -49px;
	width: 50px;
	height: 150px;
	top: 50px;
}
.tabs li {
	width: 50px;
	height: 50px;
	box-sizing: border-box;
	background: #383838;
	border: 1px solid #2A2A2A;
	border-top:none;
	
	background-image: url("/images/tab.png");
	background-size: 90% auto;
	background-position: center 0px;
}
.tabs li:hover, .tabs li.selected {
	background-color: #222;
}
.tabs li:nth-child(2) {
	background-position: center -40px;	
}
.tabs li:nth-child(3) {
	background-position: center -84px;	
}