/*LECTURE CARD*/
.lecture-card {
	position: relative;
	display: inline-block;
	padding: 0px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 5px;
	vertical-align: top;
	width: 280px;
}
/*DRAG*/
.lecture-card.dragmove .lecture-card-content {
	transform: rotate(10deg);
}
.lecture-card.placeholder {
    background-color: rgba(0,0,0,.2);
    border-color: transparent;
    box-shadow: none;
    border-radius: 3px;
}
.lecture-card.placeholder .lecture-card-content {
	position: fixed;
	visibility: hidden;
}
.lecture-card.placeholder .lecture-card-sublecture {
	visibility: hidden;
}


.lecture-card.lecture-card-disabled .lecture-card-content {
	border: none;
}
.lecture-card .lecture-card-lock, .lesson-cards .lesson-card-lock {
	display: none;
}
.lecture-card.lecture-card-disabled .lecture-card-lock {
	display: block;
}
.lesson-card-disabled .lesson-card-lock {
	display: block;
}
.lecture-card.lecture-card-disabled .lesson-card-disabled .lesson-card-lock {
	display: none;
}
div.lecture-card-lock, div.lesson-card-lock {
	position: absolute;
	background: rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}
div.lecture-card-lock:before, div.lesson-card-lock:before {
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 15px;
	width: 15px;
	font-size: 15px;
	position: absolute;
	margin: auto;
	color: #777;
}

.lecture-card .lecture-card-menu-btn {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 20px;
	height: 20px;
	line-height: 20px;
	color: #777;
	text-align: center;
	border-radius: 2px;
	font-size: 10px;

}
.lecture-card .lecture-card-menu-btn:hover {
	background: rgba(0, 0, 0, 0.1);
}
.lecture-card .lecture-card-content {
	position: relative;
	padding: 10px;
	background: #fff;
	border-radius: 3px;
	border:1px solid #E8E8E8;
	width: inherit;
}
.lecture-card .add-lecture-card-content {
	padding: 10px;
	border-radius: 3px;
	width: 280px;
}
.lecture-card .add-lecture-card-content:hover {
	background: #ddd;
}
.lecture-card .add-lecture-card-content.mod-edit:hover {
	background: #fff;
}
.lecture-card .lecture-card-title {
	margin:0;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 12px;
	margin-top: 2px;
}
.lecture-card .lecture-card-content a {
	color: black;
}


/*lecture-card-menu*/
.lecture-card-menu {
	display: none;
	position: absolute;
	margin-left: -5px;
	margin-top: -5px;
	width: 290px;
}
.lecture-card-menu.show {
	display: block;
	z-index: 5;
	border-radius: 3px;
	width: 285px;
	height: 95px;
}
.lecture-card-menu .options{
	position: absolute;
	left: 100%;
}
.lecture-card-menu .options li {
	background: rgba(0, 0, 0, 0.8);
	color: #eee;
	padding: 5px 10px;
	margin: 0px 10px 5px;
	border-radius: 3px;
	font-size: 13px;
	font-weight: bold;
}
.lecture-card-menu .options li:hover {
	color: #fff;
	background: rgba(0, 0, 0, 1);
	transform: translate(5px)
}
.lecture-card-menu .form-controls input.form-control {
	padding: 5px 5px;
    font-size: 16px;
    font-weight: bold;
    width: 285px;
    height: auto;
    border: none;
    border-radius: 3px;
    box-shadow: none;
}
.lecture-overlay {
	position: fixed;
	top:0;
	right:0;
	left: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.1);
	display: none;
	z-index: 2;
}




.lecture-card-sublecture {
	padding: 10px 0px;
	width: 270px;
	height: 20px;
}
.lecture-card-sublecture .lecture-card {
	margin: 10px 0px;
}
